@import URL('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');

body {
  background-color: #D0D0D0;
  /*margin: 0 2% 0 2%;*/
  }

nav {
  padding-bottom: 2%;
}

nav a {
  display: flex;
  justify-content: space-around;
  font-family: allerta;
  font-size: 1.7em;
  font-weight: bold;
  text-decoration: none;
  color: #FFEDED;
  margin-bottom: 2%;
  }

h2 {
  font-size: 1.6em;
  margin: 2% 30%;
  color: #FFEDED;
  background-position: center;
  border-radius: 50px;
  background-color: #4F754F;
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: helvetica;
  font-size: 1.8em;
  font-weight: bolder;
  margin: 2% auto;
  color: #926363;
}

time {
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  opacity: .5;
  display: flex;
  justify-content: center;
  margin: 3% 0 2% 0;
}

p {
  font-family: helvetica;
  font-size: 1.3em;
}

footer {
  font-family: allerta;
  font-size: 1.2em;
  color: rgba(47.5, 51, 54.9, .6);
  text-align: center;
  padding-bottom: 2%;
}
