.main_header {
  background-image: url('../img/b_ground.jpg');
  max-width: 100%;
}
background: url('../img/binary.jpg') no-repeat center center fixed;

html {
  background-color: #061930;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_header h1 {
  font-family: lobster;
  font-size: 3em;
  text-align: center;
  color: #FFEDED;
  padding: 4% 0 4% 0;
}

.byline > p {
  display: flex;
  justify-content: center;
  font-family: allerta;
}

.proj_name {
  box-shadow: 10px 10px 5px #111111;
}

img {
  max-height: 200px;
  display: block;
  margin: auto;
  padding-top: 2%;
  max-width: 100%;
}

section > p {
  margin: auto 3%;
  padding-top: 2%;
}
