a :hover {
  color: #98C198;
}

.tab :hover {
  color: #98C198;
}

@media (min-width: 550px) {

nav a {
  margin-bottom: 10%;
}

.nav-container {
  display: flex;
}

.nav-container li {
  font: serif;
  flex-grow: 1;
  justify-content: space-between;
}
}
