/*.title {
  font-size: 2em;
}*/

.tab-content p {
  margin-top: 3%
  font-size: 1.3em;
}

@media (min-width: 550px) {

.nav-container {
  display: flex;
}

.nav-container li {
  font: serif;
  flex-grow: 1;
  margin-left: 2%;
  font-size: 1.6em;
  font-weight: bold;
  font-stretch: semi-expanded;
}

a :hover {
  color:  blue;
}
