@import URL('https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css');
@import URL('skeleton.css');

h1 {
  text-align: center;
  margin-top: 3%;
  font-family: lobster;
}
nav a{
  text-align: center;
  padding-left: 10%;
}

main {
  margin: 0 5% 0 5%;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
