nav div ul li a.active {
  background-color: #e0e0e0 !important;
}

.hero-text{
  color: #eee;
}

.parallax-container {
  height: 400px !important;
}

.social-button {
  display: inline-block;
  margin: 5px 0;
}

.sumo {
  max-width: 100%;
}

.find {
  padding-left: 12px;
}

@media (min-width: 0) {
  .social-button {
    width: 100%;
  }
}
